//////////////////////////////////////////
// EVERYTHING ABOVE/OUTSIDE OF TEMPLATE
//////////////////////////////////////////
$tablet-width: 500px;
$desktop-width: 730px;
@mixin tablet {
     @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
        @content;
    }
}
@mixin desktop {
     @media (min-width: #{$desktop-width}){
        @content;
    }
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background: $bgGray;
    font-size: 16px;
    line-height: 1.6;
}

.template-container {
    margin: 15px 20px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.insta-user-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
