$headerFont: 'Lobster', cursive;
$usernameFont: 'Oswald', sans-serif;
$primaryFont: 'Abel', sans-serif; /////////////////
// COLORS
/////////////////
$fontDarkGray: #262626;
$fontLightGray: #ddd;
$bgGray: #FAFAFA;
