.footer-container {
    border-top: $largeBorder;
    background: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    bottom: 0;
    width: 100%;
}

.bottomsocialmedia {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-top: 10px;

    span {
        padding: 3px;
    }
}

.contact-hours-container {
    @include bp(mobile) {
        padding-top: 5px;
        font-size: 0.8rem;
        line-height: 0.9;
    }
    padding-top: 7px;
    justify-content: center;
    display: flex;
    margin-left: 5%;
    height: 40px;

    .hours {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: $mobileBorder;
        padding-right: 10px;
    }

    .contact {
        padding-left: 10px;
        width: 175px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
