body {
    background: url("images/slide6.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.headstuff {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;
    border-bottom: $largeBorder;
    @include bp(mobile) {
        padding: 5%;
        height: 200px;
        flex-direction: column;
        position: fixed;
    }
    @include bp(small) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    @include bp(medium) {}
    @include bp(large) {}
    @include bp(full) {
        height: 230px;
    }

    .logo {
        justify-content: center;
        @include bp(mobile) {
            width: 250px;
            height: auto;
            margin-top: 5%;
            margin-left: 15%;
            margin-bottom: 3%;
        }
        @include bp(small) {
            margin-top: 10%;
            margin-left: 0;
        }
        @include bp(medium) {}
        @include bp(large) {
            margin-top: 5%;
            width: 270px;
        }
        @include bp(full) {
            width: 300px;
            margin-left: 30%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
