.smallnav {
    @include bp(mobile) {
        width: 100%;
        padding-top: 220px;
        height: 150px;
        justify-content: center;
        flex-direction: column;
        margin-left: 25%;
        text-align: center;
    }
    @include bp(small) {
        display: none;
    }

    .navbar {
        li {
            margin: 1%;

            a {
                color: #a00909;
                text-decoration: none;
                font-size: 2rem;

                &:active {
                    font-size: 1.5rem;
                }
            }
        }
        padding: 1%;
        background: rgba(white, .6);
        width: 50%;
        height: 175px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .socialmediasmall {
        @include bp(mobile) {
            background: rgba(white, .6);
            width: 50%;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            margin-bottom: 3%;

            span {
                padding: 2%;

                &:active {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

.bottomnav {
    @include bp(mobile) {
        display: none;
    }
    @include bp(small) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        height: 160px;
        margin-top: 20px;

        ul {
            li {
                padding-top: 2%;
            }
            margin-top: 25px;
        }
        margin-left: 4%;
    }
    @include bp(medium) {
        justify-content: center;
        width: 430px;
        margin-top: 110px;
    }
    @include bp(large) {
        margin-bottom: 12px;
    }
    @include bp(full) {
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
        width: 700px;
        height: 60px;
        background: rgba(white, .5);
    }

    .navbar {
        li {
            text-align: center;
        }

        a {
            color: #a00909;
            text-decoration: none;
        }
        @include bp(small) {
            font-size: 1.5rem;
            padding: 0;

            a {
                color: #a00909;
                text-decoration: none;

                &:hover {
                    font-size: 1.75rem;
                }

                &:active {
                    font-size: 1.25rem;
                }
            }
        }
        @include bp(medium) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 375px;
            font-size: 1.4rem;

            a {
                &:hover {
                    font-size: 1.6rem;
                }

                &:active {
                    font-size: 1.2rem;
                }
            }
        }
        @include bp(large) {
            width: 450px;
            font-size: 1.5rem;

            a {
                &:hover {
                    font-size: 2rem;
                }

                &:active {
                    font-size: 1.2rem;
                }
            }
        }
        @include bp(full) {
            align-items: center;
            width: 850px;
            font-size: 1.6rem;

            li {
                padding-left: 1%;
            }
        }
    }

    .socialmediasmall {
        @include bp(small) {
            display: flex;
            font-size: 1.5rem;
            justify-content: space-between;
        }
        @include bp(medium) {
            width: 400px;
            justify-content: center;
            padding-top: 0.5%;

            span {
                padding-left: 3%;
            }
        }
        @include bp(full) {
            align-items: center;
            font-size: 2em;
            width: 250px;
            border-top: none;
        }
    }
}

.brewery-image {
    width: 100%;
}
