.beer-list {
    @include bp(mobile) {
        display: flex;
        width: 90%;
        flex-direction: column;
        margin: 275px auto 1%;
        background: rgba(white, .7);

        h1 {
            margin-top: 35px;
            margin-left: 10%;
            font-family: $headerFont;
            color: #a00909;
            font-size: 3rem;
        }

        ul {
            margin-bottom: 35px;
        }

        li {
            width: 80%;
            padding-top: 2%;
            padding-bottom: 1%;
            line-height: 1.5;
            margin-left: 10%;

            h2 {
                font-size: 1.3rem;
                border-top: $mobileBorder;
            }
        }
        @include bp(small) {
            width: 90%;
            margin-right: 5%;
            margin-top: 220px;
            margin-bottom: 5%;

            h1 {
                margin-left: 15%;
                font-family: $headerFont;
                color: #a00909;
                font-size: 2rem;
            }

            li {
                font-size: 1rem;
                line-height: 1.2;
                margin-left: 5%;
                width: 80%;
                margin-left: 10%;
                margin-right: 10%;
            }
        }
        @include bp(medium) {
            margin-top: 270px;
        }
    }
}
